.site {
	margin: 0 auto;
	padding: rem-calc(14);

	@media (min-width: $sm-screen) {
		max-width: calc(#{$sm-screen} - 5%);
	}

	@media (min-width: $med-screen) {
		max-width: calc(#{$med-screen} - 5%);
	}

	@media (min-width: $lrg-screen) {
		max-width: calc(#{$lrg-screen} - 5%);
	}

	@media (min-width: $xlrg-screen) {
		max-width: calc(#{$xlrg-screen} - 5%);
	}
}