.contact {
	margin: 0 0 rem-calc(30);
	border-bottom: 1px solid rgba($grey, 0.5);

	a {
		color: $orange;
		font-weight: 400;

		&:hover,
		&:active,
		&:visited,
		&:focus {
			color: $orange;
			font-weight: 400;
		}
	}
}